@using webapp_net8_fox.Models
@model ContactModel

@{
	ViewData["Title"] = "Contact";
}

<div class="container fw-light fs-5">
	<h1 class="display-1">Contact</h1>
	<p>Got a project in mind?</p>
	<p>Use the form to give me as much detail as possible and I’ll get back to you as soon as I can</p>

	<div class="mb-3">
		<h2 class="display-2">FAQ</h2>
		<p>Before sending me a message, here are some things you might want to know</p>
		<details open>
			<summary class="fw-bold">What timezone are you in?</summary>
			<p>I live in New York so EST (UTC-5)</p>
		</details>
		<details>
			<summary class="fw-bold">Do we make a contract?</summary>
			<p>
				Absolutely. <br />
				A contract protects us both and ensures that both parties have a good collaboration.
			</p>
		</details>
		<details>
			<summary class="fw-bold">How much do you charge for a website?</summary>
			<p>
				There is no fixed price.<br />
				Every website is different and I’ll only be able to give an accurate offer once we’ve had a talk.
			</p>
		</details>
		<details>
			<summary class="fw-bold">Do you charge by the hour?</summary>
			<p>
				I do not charge by the hour.<br />
				I prefer to eliminate the stress of counting the hours.<br />
				Instead, I charge a flat fee per project, regardless of duration.
			</p>
		</details>
		<details>
			<summary class="fw-bold">Are you working with a team?</summary>
			<p>Not at the moment. I’m flying solo.</p>
		</details>
	</div>

	<h4 class="display-4">TITLE</h4>
	<form method="post" asp-controller="Home" asp-action="Contact" class="p-3">
		<div class="mb-3">
			<label asp-for="@Model.Name" class="form-label"></label>
			<input type="text" asp-for="@Model.Name" class="form-control" required />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Email" class="form-label"></label>
			<input type="email" asp-for="@Model.Email" class="form-control" required />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.ProjectDetails" class="form-label"></label>
			<textarea asp-for="@Model.ProjectDetails" class="form-control"></textarea>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.ProjectBudget" class="form-label"></label>
			<input type="number" asp-for="@Model.ProjectBudget" class="form-control w-50" />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.ProjectDate" class="form-label"></label>
			<input type="date" asp-for="@Model.ProjectDate" class="form-control w-50" />
		</div>
		<input type="submit" class="btn btn-dark" />
	</form>
</div>